<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <system.serviceModel>
 <services>
 <service name="ServicoHostWCF.Servico" behaviorConfiguration="wsdlConfiguration">
 <host>
 <baseAddresses>
 <add baseAddress="http://localhost:7874" />
 </baseAddresses>
 </host>
 <endpoint address="customerAdress" binding="basicHttpBinding"
contract="ServicoHostWCF.IServico"/>
 <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
 </service>
 </services>
 <behaviors>
 <serviceBehaviors>
 <behavior name="wsdlConfiguration">
 <serviceMetadata httpGetEnabled="true"/>
 </behavior>
 </serviceBehaviors>
 </behaviors>
 </system.serviceModel>
</configuration>